<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-container">
      <a href="https://www.dung123.com" class="navbar-brand">dung123</a>

      <div class="navbar-nav">
        <mat-nav-list class="nav-list">
          <mat-list-item *ngIf="HardcodeAuthenticationService.isUserLoggedIn()" routerLink="/welcome/dung123">
            <span mat-line>Home</span>
          </mat-list-item>
          <mat-list-item *ngIf="HardcodeAuthenticationService.isUserLoggedIn()" routerLink="/todos">
            <span mat-line>Todos</span>
          </mat-list-item>
          <mat-list-item  *ngIf="HardcodeAuthenticationService.isUserLoggedIn()"  routerLink="/amdin">
            <span mat-line>Admin</span>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div class="ml-auto justify-content-end">
        <mat-nav-list class="nav-list">
          <mat-list-item *ngIf="!HardcodeAuthenticationService.isUserLoggedIn()" routerLink="/login">
            <span mat-line>Login</span>
          </mat-list-item>
          <mat-list-item *ngIf="HardcodeAuthenticationService.isUserLoggedIn()" routerLink="/logout">
            <span mat-line>Logout</span>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </nav>
</header>




