<div class="container">


  <h1>ADMIN</h1>

  <form (ngSubmit)="!adminForm.invalid && saveAdmin()" #adminForm="ngForm">

    <!-- Họ và Tên -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Họ Và Tên</mat-label>
        <input matInput [(ngModel)]="admin.name" name="name" required #name="ngModel">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="name.invalid && name.touched">
          Họ và tên không được để trống!
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Ngày Sinh -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Ngày Sinh</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="admin.ngaysinh" name="ngaysinh" required
          #ngaysinh="ngModel">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="ngaysinh.invalid && ngaysinh.touched">
          Vui lòng chọn ngày sinh hợp lệ!
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Giới Tính -->
    <div class="form-group">
      <label>Giới Tính</label>
      <mat-radio-group [(ngModel)]="admin.gioitinh" name="gioitinh" required>
        <mat-radio-button [value]="true">Nam</mat-radio-button>
        <mat-radio-button [value]="false">Nữ</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Quyền -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Quyền</mat-label>
        <mat-select [(ngModel)]="admin.chucvu" name="chucvu" required>
          <mat-option [value]="'Admin'">Admin</mat-option>
          <mat-option [value]="'User'">User</mat-option>
        </mat-select>
        <mat-error *ngIf="admin.chucvu === ''">
          Vui lòng chọn quyền!
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Nút Save -->
    <div class="form-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="adminForm.invalid">
        Save
      </button>
    </div>

  </form>
</div>