

<div class="container">


  <h1>Todo</h1>
  
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    
    <!-- Description -->
    <div class="form-group">
      <mat-form-field appearance="fill" hintLabel="Nhập tối thiểu 5 ký tự">
        <mat-label>Description</mat-label>
        <input matInput #description="ngModel" [(ngModel)]="todo.description" id="description" name="description" required minlength="5">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint align="end">{{ todo.description?.length || 0 }}/100</mat-hint>
      </mat-form-field>
    </div>

    <!-- Target Date -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Target Date</mat-label>
        <input matInput [matDatepicker]="picker" #targetDate="ngModel" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" id="targetDate" name="targetDate" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint align="start">Chọn ngày hoàn thành</mat-hint>
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" #mail="ngModel" [(ngModel)]="todo.mail" id="mail" name="mail" required email>
        <mat-hint align="start">Nhập email hợp lệ</mat-hint>
      </mat-form-field>
    </div>

    <!-- Trạng thái -->
    <div class="form-group">
      <mat-radio-group [(ngModel)]="todo.done" name="done" required>
        <mat-radio-button [value]="true">Chưa xong</mat-radio-button>
        <mat-radio-button [value]="false">Đã xong</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Nút Save -->
    <div class="form-group">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>

  </form>
</div>
