.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px; /* Tạo khoảng cách giữa các trường */
    display: flex;
    flex-direction: column;
  }
  mat-form-field {
    width: 150%; /* Đảm bảo các trường kéo dài hết form */
  }